openapi: 3.0.0
info:
  title: Flight Ticketing - BINAR KM7
  description: >-
    ## Created by Team 1 FSW x BE


    **API URL**:
    [https://binar.azumidev.web.id/api/v1/](https://binar.azumidev.web.id/api/v1/)


    **Github Organization:**
    [https://github.com/TIM1-FSW-BE-BINAR](https://github.com/TIM1-FSW-BE-BINAR)


    **Team 1 FSW x BE**


    ```

    > {FSW} Dhiya Ul Faruq - @pentahead 

    > {FSW} Michael Joenathan Darwin - @MichaelJD-MJD 

    > {FSW} Naila Jinan Gaisani - @nellnelaa 

    > {FSW} Muhammad Fadhillah Rahman - @FadPro77 

    > {BE} Naufal Azmi Ginting - @BoboiAzumi 

    > {BE} Viery Nugroho - @vierynugroho 

    > {BE} Salsabilla Aulia - @chacabilla 

    > {BE} Yogi Hafidh Maulana - @Yogihafidh 

     ```
  version: 1.0.0
servers:
  - url: https://binar.azumidev.web.id/api/v1
    description: production
  - url: http://localhost:3000/api/v1
    description: development
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
tags:
  - name: Auth
  - name: Users
  - name: Airports
  - name: Airlines
  - name: Flights
    description: Flight Resources
  - name: Seats
  - name: Booking
  - name: Notification
paths:
  /auth/login:
    post:
      tags:
        - Auth
      summary: login
      description: |-
        ``` json
        {
            "email": "jane.smith@example.com", // admin
            // "email": "john.doe@example.com", // buyer
            "password": "password"
        }
         ```
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: john.doe@example.com
                password: password
      security:
        - noauthAuth: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  statusCode: 200
                  message: login successfully
                data:
                  token: >-
                    eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6NywiaWF0IjoxNzMyNTA4ODkzLCJleHAiOjE3MzI1OTUyOTN9.RcqSghLV99vMSp82Lw8f2qPkKbQwwkWOMqO6UB8br9w
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 401
                  message: wrong credential
  /auth/register:
    post:
      tags:
        - Auth
      summary: register
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                firstName: Kaguya
                lastName: Shinomiya
                phone: '086655446677'
                email: kutakulu@gmail.com
                password: bakashirogane
      security:
        - noauthAuth: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  statusCode: 201
                  message: user has created, let's verify
        '409':
          description: Conflict
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 409
                  message: email has registered
  /auth/verify:
    post:
      tags:
        - Auth
      summary: verify
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: kutakulu@gmail.com
                otp: '150428'
      security:
        - noauthAuth: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: user has been verified
                  value:
                    meta:
                      statusCode: 200
                      message: User has been verified
                example-1:
                  summary: otp is valid
                  value:
                    meta:
                      statusCode: 200
                      message: OTP is valid
        '400':
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 400
                  message: Invalid OTP
  /auth/reset-otp:
    post:
      tags:
        - Auth
      summary: reset-otp
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: kutakulu@gmail.com
      security:
        - noauthAuth: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  statusCode: 200
                  message: OTP has been sent
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 404
                  message: User not found
  /auth/reset-password:
    post:
      tags:
        - Auth
      summary: reset-password
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: kutakulu@gmail.com
                otp: '150428'
                password: shirogane123
      security:
        - noauthAuth: []
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: success
                  value:
                    meta:
                      statusCode: 200
                      message: Password has been reset
                example-1:
                  summary: failed
                  value:
                    error:
                      statusCode: 400
                      message: Invalid OTP Code 1
  /auth/me:
    get:
      tags:
        - Auth
      summary: get user logged in
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '235'
            ETag:
              schema:
                type: string
                example: W/"eb-HdTpu2QjbzkwLjhfm5TlwKvVt0U"
            Date:
              schema:
                type: string
                example: Thu, 28 Nov 2024 13:39:35 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  statusCode: 200
                  message: user logged in data retrieved successfully
                data:
                  id: 4
                  firstName: Sarah
                  lastName: Williams
                  email: sarah.williams@example.com
                  phone: '+62822334455'
                  status: VERIFIED
                  role: BUYER
        '401':
          description: Unauthorized
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '53'
            ETag:
              schema:
                type: string
                example: W/"35-JKLf57b4Vl5fiBd/Q+6w6iM8i0M"
            Date:
              schema:
                type: string
                example: Thu, 28 Nov 2024 13:31:27 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 401
                  message: unauthorized
  /users:
    get:
      tags:
        - Users
      summary: get all users
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: page number
          example: '3'
        - name: limit
          in: query
          schema:
            type: integer
          description: total item per page
          example: '1'
        - name: userStatus
          in: query
          schema:
            type: string
          description: user status [VERIFIED, UNVERIFIED]
          example: VERIFIED
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '602'
            ETag:
              schema:
                type: string
                example: W/"25a-DWPsbXRRzAaOygMRCKtgWkiA4rs"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 14:37:24 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: success - without pagination
                  value:
                    meta:
                      statusCode: 200
                      message: users data retrieved successfully
                      pagination: null
                    data:
                      - id: 1
                        firstName: Viery
                        lastName: Nugroho
                        email: viery@gmail.com
                        phone: '628123456789'
                        status: VERIFIED
                        role: BUYER
                        _count:
                          booking: 0
                          Notification: 0
                        booking: []
                        Notification: []
                      - id: 2
                        firstName: Viery
                        lastName: Nugroho
                        email: Junior@gmail.com
                        phone: '628123456789'
                        status: VERIFIED
                        role: BUYER
                        _count:
                          booking: 0
                          Notification: 0
                        booking: []
                        Notification: []
                example-1:
                  summary: success - with pagination
                  value:
                    meta:
                      statusCode: 200
                      message: users data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 1
                        nextPage: 2
                        prevPage: null
                    data:
                      - id: 1
                        firstName: Viery
                        lastName: Nugroho
                        email: viery@gmail.com
                        phone: '628123456789'
                        status: VERIFIED
                        role: BUYER
                        _count:
                          booking: 0
                          Notification: 0
                        booking: []
                        Notification: []
                example-2:
                  summary: success - filtering
                  value:
                    meta:
                      statusCode: 200
                      message: users data retrieved successfully
                      pagination: null
                    data:
                      - id: 2
                        firstName: Nugroho
                        lastName: Junior
                        email: Junior@gmail.com
                        phone: '-'
                        password: password
                        secretKey: ''
                        otpToken: ''
                        status: VERIFIED
                        role: BUYER
                        _count:
                          booking: 0
                          Notification: 0
                        booking: []
                        Notification: []
                example-3:
                  summary: success - empty data
                  value:
                    meta:
                      statusCode: 200
                      message: users data retrieved successfully
                      pagination:
                        totalPage: 1
                        currentPage: 3
                        pageItems: 0
                        nextPage: null
                        prevPage: 2
                    data: []
        '401':
          description: Unauthorized
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '53'
            ETag:
              schema:
                type: string
                example: W/"35-JKLf57b4Vl5fiBd/Q+6w6iM8i0M"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:20:26 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '403':
          description: Forbidden
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '65'
            ETag:
              schema:
                type: string
                example: W/"41-z8nFVUYekvfQenPP9pE/ce2KvuI"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:56:11 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
        '422':
          description: Unprocessable Entity
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '104'
            ETag:
              schema:
                type: string
                example: W/"68-GwJYwDRLxOPmtkwZ9W79/jNmMHY"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 14:44:53 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 422
                  message: >-
                    invalid user status value. allowed status: VERIFIED,
                    UNVERIFIED
  /users/{userID}:
    get:
      tags:
        - Users
      summary: get by user ID
      parameters:
        - name: userID
          in: path
          schema:
            type: integer
          required: true
          description: userID
          example: '1'
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '263'
            ETag:
              schema:
                type: string
                example: W/"107-bP3pTuX3X3OP6CXDN7XUNTaPCuo"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 15:04:40 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  statusCode: 200
                  message: user data retrieved successfully
                data:
                  id: 1
                  firstName: Viery
                  lastName: Nugroho
                  email: viery@gmail.com
                  phone: '628123456789'
                  status: VERIFIED
                  role: BUYER
        '401':
          description: Unauthorized
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '53'
            ETag:
              schema:
                type: string
                example: W/"35-JKLf57b4Vl5fiBd/Q+6w6iM8i0M"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:35:34 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '403':
          description: Forbidden
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '65'
            ETag:
              schema:
                type: string
                example: W/"41-z8nFVUYekvfQenPP9pE/ce2KvuI"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:55:59 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
        '404':
          description: Not Found
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '58'
            ETag:
              schema:
                type: string
                example: W/"3a-G2IEVSSJklAyIj1z6pLWh9RFIGY"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 15:05:20 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 404
                  message: user is not found
    put:
      tags:
        - Users
      summary: update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                firstName: Viery
                lastName: Nugroho
                phone: '628123456789'
                role: ADMIN
      parameters:
        - name: userID
          in: path
          schema:
            type: integer
          required: true
          description: user ID
          example: '1'
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '211'
            ETag:
              schema:
                type: string
                example: W/"d3-2n1zgoMfENWu0G6zBcPWBs6VfhY"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:16:52 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  statusCode: 200
                  message: user data updated successfully
                data:
                  id: 1
                  firstName: Viery
                  lastName: Nugroho
                  email: viery@gmail.com
                  phone: '628123456789'
                  status: VERIFIED
                  role: BUYER
        '401':
          description: Unauthorized
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '53'
            ETag:
              schema:
                type: string
                example: W/"35-JKLf57b4Vl5fiBd/Q+6w6iM8i0M"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:35:19 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '403':
          description: Forbidden
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '65'
            ETag:
              schema:
                type: string
                example: W/"41-z8nFVUYekvfQenPP9pE/ce2KvuI"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:56:19 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
        '404':
          description: Not Found
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '58'
            ETag:
              schema:
                type: string
                example: W/"3a-G2IEVSSJklAyIj1z6pLWh9RFIGY"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:17:12 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 404
                  message: user is not found
        '422':
          description: Unprocessable Entity
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '68'
            ETag:
              schema:
                type: string
                example: W/"44-ymDY+dZGdhPL83o64Y4oeK4U49Q"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:29:01 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 422
                  message: '"password" is not allowed'
    delete:
      tags:
        - Users
      summary: delete
      parameters:
        - name: userID
          in: path
          schema:
            type: integer
          required: true
          description: user ID
          example: '1'
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '267'
            ETag:
              schema:
                type: string
                example: W/"10b-TW4/vXqXNZYYy1eO/8SepeOU118"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:37:01 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  statusCode: 200
                  message: user deleted successfully
                data:
                  user:
                    id: 2
                    firstName: Viery
                    lastName: Nugroho
                    email: Junior@gmail.com
                    phone: '628123456789'
                    password: password
                    secretKey: ''
                    otpToken: ''
                    status: VERIFIED
                    role: BUYER
        '401':
          description: Unauthorized
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '53'
            ETag:
              schema:
                type: string
                example: W/"35-JKLf57b4Vl5fiBd/Q+6w6iM8i0M"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:38:55 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '403':
          description: Forbidden
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '65'
            ETag:
              schema:
                type: string
                example: W/"41-z8nFVUYekvfQenPP9pE/ce2KvuI"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:56:29 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
        '404':
          description: Not Found
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '58'
            ETag:
              schema:
                type: string
                example: W/"3a-G2IEVSSJklAyIj1z6pLWh9RFIGY"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:36:48 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 404
                  message: user is not found
  /users/profile:
    patch:
      tags:
        - Users
      summary: update profile user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                firstName: Test Update
                lastName: Shinomiya
                phone: '086655446677'
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '225'
            ETag:
              schema:
                type: string
                example: W/"e1-YI6XisxDmXelbDaEqk5KIivqcPU"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:49:13 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  statusCode: 200
                  message: user profile updated successfully
                data:
                  id: 3
                  firstName: Test Update
                  lastName: Shinomiya
                  email: kutakulu@gmail.com
                  phone: '086655446677'
                  status: VERIFIED
                  role: BUYER
        '401':
          description: Unauthorized
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '53'
            ETag:
              schema:
                type: string
                example: W/"35-JKLf57b4Vl5fiBd/Q+6w6iM8i0M"
            Date:
              schema:
                type: string
                example: Fri, 06 Dec 2024 10:26:52 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '422':
          description: Unprocessable Entity
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '65'
            ETag:
              schema:
                type: string
                example: W/"41-HSyxi+5/RSRZj9Yf098nhBaoCu8"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:48:41 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 422
                  message: '"email" is not allowed'
    delete:
      tags:
        - Users
      summary: delete user logged in account
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '342'
            ETag:
              schema:
                type: string
                example: W/"156-FJI9aUtgd53f0WSfEocXJDzgkY4"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:54:55 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  statusCode: 200
                  message: user account deleted successfully
                data:
                  user:
                    id: 4
                    firstName: Test Update
                    lastName: Shinomiya
                    email: viery15102002@gmail.com
                    phone: '086655446677'
                    password: >-
                      $2b$10$yRsvJb7SCEd6UX8Yzd/.aOShOgjQVImFRcRw8ear8wl/IV5/mz9H.
                    secretKey: ''
                    otpToken: ''
                    status: VERIFIED
                    role: BUYER
        '401':
          description: Unauthorized
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '53'
            ETag:
              schema:
                type: string
                example: W/"35-JKLf57b4Vl5fiBd/Q+6w6iM8i0M"
            Date:
              schema:
                type: string
                example: Fri, 06 Dec 2024 10:27:40 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '403':
          description: Forbidden
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '65'
            ETag:
              schema:
                type: string
                example: W/"41-z8nFVUYekvfQenPP9pE/ce2KvuI"
            Date:
              schema:
                type: string
                example: Tue, 26 Nov 2024 16:50:39 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
  /airports:
    post:
      tags:
        - Airports
      summary: create
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: TEst
                code:
                  type: string
                  example: tests
                city:
                  type: string
                  example: DKI Jakarta
                state:
                  type: string
                  example: Asia Tenggara
                country:
                  type: integer
                  example: '1'
                timezone:
                  type: string
                  example: Asia/Jakarta
                latitude:
                  type: integer
                  example: '1'
                longitude:
                  type: integer
                  example: '1'
                elevation:
                  type: integer
                  example: '1'
                image:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '455'
            ETag:
              schema:
                type: string
                example: W/"1c7-KOBIZS1d2LnT5yUl0HDWiawA3lc"
            Date:
              schema:
                type: string
                example: Mon, 02 Dec 2024 04:47:37 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  statusCode: 200
                  message: Airport created successfully
                data:
                  airport:
                    id: 9
                    code: HLP
                    name: Halim Perdanakusuma International Airport
                    city: DKI Jakarta
                    state: Asia Tenggara
                    country: '1'
                    timezone: Asia/Jakarta
                    latitude: '1'
                    longitude: '1'
                    elevation: '1'
                    imageUrl: >-
                      https://ik.imagekit.io/vieryn/airports/image-1733114851306_xJxBmViPM.jpeg
                    imageId: 674d3be7e375273f60c23a27
                    createdAt: '2024-12-02T04:47:37.509Z'
        '400':
          description: Bad Request
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '125'
            ETag:
              schema:
                type: string
                example: W/"7d-jQHTEoPnnfrhwgI0UcoE8+YGVaQ"
            Date:
              schema:
                type: string
                example: Mon, 02 Dec 2024 04:14:24 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: file too large
                  value:
                    error:
                      statusCode: 400
                      title: 'LIMIT_FILE_SIZE: MulterError'
                      message: MulterError - File too large
                      fields: image
                example-1:
                  summary: no file selected
                  value:
                    error:
                      statusCode: 400
                      message: no file selected
        '401':
          description: Unauthorized
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '53'
            ETag:
              schema:
                type: string
                example: W/"35-JKLf57b4Vl5fiBd/Q+6w6iM8i0M"
            Date:
              schema:
                type: string
                example: Fri, 06 Dec 2024 10:29:26 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '403':
          description: Forbidden
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '65'
            ETag:
              schema:
                type: string
                example: W/"41-z8nFVUYekvfQenPP9pE/ce2KvuI"
            Date:
              schema:
                type: string
                example: Fri, 06 Dec 2024 10:30:11 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
        '409':
          description: Conflict
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '68'
            ETag:
              schema:
                type: string
                example: W/"44-6HWds5glJ4OT8MUfgWOI6l8MfAs"
            Date:
              schema:
                type: string
                example: Mon, 02 Dec 2024 04:48:27 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 409
                  message: Airport code already exists
        '422':
          description: Unprocessable Entity
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '65'
            ETag:
              schema:
                type: string
                example: W/"41-sxqmLuJIMwRdNZpvwfKcegTYMnk"
            Date:
              schema:
                type: string
                example: Mon, 02 Dec 2024 05:16:33 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  statusCode: 422
                  message: '"image" is not allowed'
    get:
      tags:
        - Airports
      summary: get all data
      security:
        - noauthAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: page number
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
          description: total item per page
          example: '3'
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: >-
                  Content-Type, Authorization, Accept, Accept-Language,
                  Accept-Encoding
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '3130'
            ETag:
              schema:
                type: string
                example: W/"c3a-9OOktVSSP/B0UAPDw1Q3SAVwfNM"
            Date:
              schema:
                type: string
                example: Sun, 01 Dec 2024 07:28:23 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: success with pagination
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 5
                        nextPage: 2
                        prevPage: null
                    data:
                      - id: 11
                        code: SYD
                        name: Sydney Kingsford Smith Airport
                        city: Sydney
                        state: New South Wales
                        country: Australia
                        timezone: Australia/Sydney
                        latitude: '-33.9399'
                        longitude: '151.1753'
                        elevation: '6'
                        imageUrl: syd-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 4
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: DKI Jakarta
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.1255'
                        longitude: '106.6551'
                        elevation: '8'
                        imageUrl: cgk-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                        arrival:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 6
                        code: DPS
                        name: Ngurah Rai International Airport
                        city: Denpasar
                        state: Bali
                        country: Indonesia
                        timezone: Asia/Makassar
                        latitude: '-8.7487'
                        longitude: '115.1670'
                        elevation: '4'
                        imageUrl: dps-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 7
                        code: SIN
                        name: Singapore Changi Airport
                        city: Singapore
                        state: Central Singapore
                        country: Singapore
                        timezone: Asia/Singapore
                        latitude: '1.3644'
                        longitude: '103.9915'
                        elevation: '22'
                        imageUrl: sin-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                        arrival:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                example-1:
                  summary: success without pagination
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination: null
                    data:
                      - id: 2
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: Banten
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.125556'
                        longitude: '106.655833'
                        elevation: '34'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-25T04:27:02.136Z'
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                example-2:
                  summary: success with filtering
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination: null
                    data:
                      - id: 2
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: Banten
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.125556'
                        longitude: '106.655833'
                        elevation: '34'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-25T04:27:02.136Z'
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                example-3:
                  summary: success with sorting
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination: null
                    data:
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                        departure: []
                        arrival: []
                      - id: 8
                        code: DOH
                        name: Hamad International Airport
                        city: Doha
                        state: Qatar
                        country: Qatar
                        timezone: Asia/Qatar
                        latitude: '25.2654'
                        longitude: '51.6066'
                        elevation: '5'
                        imageUrl: doh-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 9
                        code: JED
                        name: King Abdulaziz International Airport
                        city: Jeddah
                        state: Makkah
                        country: Saudi Arabia
                        timezone: Asia/Riyadh
                        latitude: '21.6820'
                        longitude: '39.1606'
                        elevation: '5'
                        imageUrl: jed-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 10
                        code: LAX
                        name: Los Angeles International Airport
                        city: Los Angeles
                        state: California
                        country: United States
                        timezone: America/Los_Angeles
                        latitude: '33.9416'
                        longitude: '-118.4085'
                        elevation: '38'
                        imageUrl: lax-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 6
                        code: DPS
                        name: Ngurah Rai International Airport
                        city: Denpasar
                        state: Bali
                        country: Indonesia
                        timezone: Asia/Makassar
                        latitude: '-8.7487'
                        longitude: '115.1670'
                        elevation: '4'
                        imageUrl: dps-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 7
                        code: SIN
                        name: Singapore Changi Airport
                        city: Singapore
                        state: Central Singapore
                        country: Singapore
                        timezone: Asia/Singapore
                        latitude: '1.3644'
                        longitude: '103.9915'
                        elevation: '22'
                        imageUrl: sin-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                        arrival:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                      - id: 4
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: DKI Jakarta
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.1255'
                        longitude: '106.6551'
                        elevation: '8'
                        imageUrl: cgk-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                        arrival:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                      - id: 11
                        code: SYD
                        name: Sydney Kingsford Smith Airport
                        city: Sydney
                        state: New South Wales
                        country: Australia
                        timezone: Australia/Sydney
                        latitude: '-33.9399'
                        longitude: '151.1753'
                        elevation: '6'
                        imageUrl: syd-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                example-4:
                  summary: success with pagination & filtering
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 3
                        nextPage: 2
                        prevPage: null
                    data:
                      - id: 4
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: DKI Jakarta
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.1255'
                        longitude: '106.6551'
                        elevation: '8'
                        imageUrl: cgk-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                        arrival:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 6
                        code: DPS
                        name: Ngurah Rai International Airport
                        city: Denpasar
                        state: Bali
                        country: Indonesia
                        timezone: Asia/Makassar
                        latitude: '-8.7487'
                        longitude: '115.1670'
                        elevation: '4'
                        imageUrl: dps-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                example-5:
                  summary: success with pagination & sorting
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 5
                        nextPage: 2
                        prevPage: null
                    data:
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                        departure: []
                        arrival: []
                      - id: 8
                        code: DOH
                        name: Hamad International Airport
                        city: Doha
                        state: Qatar
                        country: Qatar
                        timezone: Asia/Qatar
                        latitude: '25.2654'
                        longitude: '51.6066'
                        elevation: '5'
                        imageUrl: doh-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 9
                        code: JED
                        name: King Abdulaziz International Airport
                        city: Jeddah
                        state: Makkah
                        country: Saudi Arabia
                        timezone: Asia/Riyadh
                        latitude: '21.6820'
                        longitude: '39.1606'
                        elevation: '5'
                        imageUrl: jed-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 10
                        code: LAX
                        name: Los Angeles International Airport
                        city: Los Angeles
                        state: California
                        country: United States
                        timezone: America/Los_Angeles
                        latitude: '33.9416'
                        longitude: '-118.4085'
                        elevation: '38'
                        imageUrl: lax-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                example-6:
                  summary: success with filtering & sorting
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination: null
                    data:
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                        departure: []
                        arrival: []
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 6
                        code: DPS
                        name: Ngurah Rai International Airport
                        city: Denpasar
                        state: Bali
                        country: Indonesia
                        timezone: Asia/Makassar
                        latitude: '-8.7487'
                        longitude: '115.1670'
                        elevation: '4'
                        imageUrl: dps-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 4
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: DKI Jakarta
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.1255'
                        longitude: '106.6551'
                        elevation: '8'
                        imageUrl: cgk-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                        arrival:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                example-7:
                  summary: success with pagination, filtering & sorting
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 3
                        nextPage: 2
                        prevPage: null
                    data:
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                        departure: []
                        arrival: []
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
[...]
