openapi: 3.0.0
info:
  title: Flight Ticketing - BINAR KM7
  description: |-
    ## Created by Team 1 FSW x BE

    **API URL**: [https://binar.azumidev.web.id/api/v1/](https://binar.azumidev.web.id/api/v1/)

    **Github Organization:** [https://github.com/TIM1-FSW-BE-BINAR](https://github.com/TIM1-FSW-BE-BINAR)

    **Team 1 FSW x BE**

    ```
    > {FSW} Dhiya Ul Faruq - @pentahead 
    > {FSW} Michael Joenathan Darwin - @MichaelJD-MJD 
    > {FSW} Naila Jinan Gaisani - @nellnelaa 
    > {FSW} Muhammad Fadhillah Rahman - @FadPro77 
    > {BE} Naufal Azmi Ginting - @BoboiAzumi 
    > {BE} Viery Nugroho - @vierynugroho 
    > {BE} Salsabilla Aulia - @chacabilla 
    > {BE} Yogi Hafidh Maulana - @Yogihafidh 

     ```
  version: 1.0.0
servers:
  - url: https://binar.azumidev.web.id/api/v1
    description: production
  - url: http://localhost:3000/api/v1
    description: development
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
tags:
  - name: Auth
  - name: Users
  - name: Airports
  - name: Airlines
  - name: Flights
  - name: Seats
  - name: Booking
  - name: Notifications
paths:
  /auth/me:
    get:
      tags:
        - Auth
      summary: get user logged in
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                meta:
                  statusCode: 200
                  message: user logged in data retrieved successfully
                data:
                  id: 4
                  firstName: Sarah
                  lastName: Williams
                  email: sarah.williams@example.com
                  phone: '+62822334455'
                  status: VERIFIED
                  role: BUYER
        '401':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 401
                  message: unauthorized
      parameters: []
      security:
        - bearerAuth: []
  /auth/login:
    post:
      tags:
        - Auth
      summary: login
      description: |-
        ``` json
        {
            "email": "jane.smith@example.com", // admin
            // "email": "john.doe@example.com", // buyer
            "password": "password"
        }
         ```
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: john.doe@example.com
                password: password
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                meta:
                  statusCode: 200
                  message: login successfully
                data:
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6NywiaWF0IjoxNzMyNTA4ODkzLCJleHAiOjE3MzI1OTUyOTN9.RcqSghLV99vMSp82Lw8f2qPkKbQwwkWOMqO6UB8br9w
        '401':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 401
                  message: wrong credential
      parameters: []
  /auth/register:
    post:
      tags:
        - Auth
      summary: register
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                firstName: Kaguya
                lastName: Shinomiya
                phone: '086655446677'
                email: kutakulu@gmail.com
                password: bakashirogane
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                meta:
                  statusCode: 201
                  message: user has created, let's verify
        '409':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 409
                  message: email has registered
      parameters: []
  /auth/verify:
    post:
      tags:
        - Auth
      summary: verify
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: kutakulu@gmail.com
                otp: '150428'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                user_has_been_verified:
                  value:
                    meta:
                      statusCode: 200
                      message: User has been verified
                otp_is_valid:
                  value:
                    meta:
                      statusCode: 200
                      message: OTP is valid
        '400':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 400
                  message: Invalid OTP
      parameters: []
  /auth/reset-otp:
    post:
      tags:
        - Auth
      summary: reset-otp
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: kutakulu@gmail.com
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                meta:
                  statusCode: 200
                  message: OTP has been sent
        '404':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 404
                  message: User not found
      parameters: []
  /auth/reset-password:
    post:
      tags:
        - Auth
      summary: reset-password
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: kutakulu@gmail.com
                otp: '150428'
                password: shirogane123
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                success:
                  value:
                    meta:
                      statusCode: 200
                      message: Password has been reset
                failed:
                  value:
                    error:
                      statusCode: 400
                      message: Invalid OTP Code 1
      parameters: []
  /users:
    get:
      tags:
        - Users
      summary: get all users
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: page number
          example: '3'
        - name: limit
          in: query
          schema:
            type: integer
          description: total item per page
          example: '1'
        - name: userStatus
          in: query
          schema:
            type: string
          description: user status [VERIFIED, UNVERIFIED]
          example: VERIFIED
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                success_-_without_pagination:
                  value:
                    meta:
                      statusCode: 200
                      message: users data retrieved successfully
                      pagination: null
                    data:
                      - id: 1
                        firstName: Viery
                        lastName: Nugroho
                        email: viery@gmail.com
                        phone: '628123456789'
                        status: VERIFIED
                        role: BUYER
                        _count:
                          booking: 0
                          Notification: 0
                        booking: []
                        Notification: []
                      - id: 2
                        firstName: Viery
                        lastName: Nugroho
                        email: Junior@gmail.com
                        phone: '628123456789'
                        status: VERIFIED
                        role: BUYER
                        _count:
                          booking: 0
                          Notification: 0
                        booking: []
                        Notification: []
                success_-_with_pagination:
                  value:
                    meta:
                      statusCode: 200
                      message: users data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 1
                        nextPage: 2
                        prevPage: null
                    data:
                      - id: 1
                        firstName: Viery
                        lastName: Nugroho
                        email: viery@gmail.com
                        phone: '628123456789'
                        status: VERIFIED
                        role: BUYER
                        _count:
                          booking: 0
                          Notification: 0
                        booking: []
                        Notification: []
                success_-_filtering:
                  value:
                    meta:
                      statusCode: 200
                      message: users data retrieved successfully
                      pagination: null
                    data:
                      - id: 2
                        firstName: Nugroho
                        lastName: Junior
                        email: Junior@gmail.com
                        phone: '-'
                        password: password
                        secretKey: ''
                        otpToken: ''
                        status: VERIFIED
                        role: BUYER
                        _count:
                          booking: 0
                          Notification: 0
                        booking: []
                        Notification: []
                success_-_empty_data:
                  value:
                    meta:
                      statusCode: 200
                      message: users data retrieved successfully
                      pagination:
                        totalPage: 1
                        currentPage: 3
                        pageItems: 0
                        nextPage: null
                        prevPage: 2
                    data: []
        '401':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '403':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
        '422':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 422
                  message: 'invalid user status value. allowed status: VERIFIED, UNVERIFIED'
      security:
        - bearerAuth: []
  /users/profile:
    patch:
      tags:
        - Users
      summary: update profile user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                firstName: Test Update
                lastName: Shinomiya
                phone: '086655446677'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                meta:
                  statusCode: 200
                  message: user profile updated successfully
                data:
                  id: 3
                  firstName: Test Update
                  lastName: Shinomiya
                  email: kutakulu@gmail.com
                  phone: '086655446677'
                  status: VERIFIED
                  role: BUYER
        '401':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '422':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 422
                  message: '"email" is not allowed'
      parameters: []
      security:
        - bearerAuth: []
    delete:
      tags:
        - Users
      summary: delete user logged in account
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                meta:
                  statusCode: 200
                  message: user account deleted successfully
                data:
                  user:
                    id: 4
                    firstName: Test Update
                    lastName: Shinomiya
                    email: viery15102002@gmail.com
                    phone: '086655446677'
                    password: $2b$10$yRsvJb7SCEd6UX8Yzd/.aOShOgjQVImFRcRw8ear8wl/IV5/mz9H.
                    secretKey: ''
                    otpToken: ''
                    status: VERIFIED
                    role: BUYER
        '401':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '403':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
      parameters: []
      security:
        - bearerAuth: []
  /airports:
    get:
      tags:
        - Airports
      summary: get all data
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: page number
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
          description: total item per page
          example: '3'
        - name: city
          in: query
          schema:
            type: string
          description: filter by city
          example: Jakarta
        - name: sortBy
          in: query
          schema:
            type: string
          description: sort by name
          example: name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                success_with_pagination:
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 5
                        nextPage: 2
                        prevPage: null
                    data:
                      - id: 11
                        code: SYD
                        name: Sydney Kingsford Smith Airport
                        city: Sydney
                        state: New South Wales
                        country: Australia
                        timezone: Australia/Sydney
                        latitude: '-33.9399'
                        longitude: '151.1753'
                        elevation: '6'
                        imageUrl: syd-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 4
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: DKI Jakarta
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.1255'
                        longitude: '106.6551'
                        elevation: '8'
                        imageUrl: cgk-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                        arrival:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 6
                        code: DPS
                        name: Ngurah Rai International Airport
                        city: Denpasar
                        state: Bali
                        country: Indonesia
                        timezone: Asia/Makassar
                        latitude: '-8.7487'
                        longitude: '115.1670'
                        elevation: '4'
                        imageUrl: dps-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 7
                        code: SIN
                        name: Singapore Changi Airport
                        city: Singapore
                        state: Central Singapore
                        country: Singapore
                        timezone: Asia/Singapore
                        latitude: '1.3644'
                        longitude: '103.9915'
                        elevation: '22'
                        imageUrl: sin-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                        arrival:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                success_without_pagination:
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination: null
                    data:
                      - id: 2
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: Banten
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.125556'
                        longitude: '106.655833'
                        elevation: '34'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-25T04:27:02.136Z'
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                success_with_filtering:
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination: null
                    data:
                      - id: 2
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: Banten
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.125556'
                        longitude: '106.655833'
                        elevation: '34'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-25T04:27:02.136Z'
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                success_with_sorting:
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination: null
                    data:
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                        departure: []
                        arrival: []
                      - id: 8
                        code: DOH
                        name: Hamad International Airport
                        city: Doha
                        state: Qatar
                        country: Qatar
                        timezone: Asia/Qatar
                        latitude: '25.2654'
                        longitude: '51.6066'
                        elevation: '5'
                        imageUrl: doh-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 9
                        code: JED
                        name: King Abdulaziz International Airport
                        city: Jeddah
                        state: Makkah
                        country: Saudi Arabia
                        timezone: Asia/Riyadh
                        latitude: '21.6820'
                        longitude: '39.1606'
                        elevation: '5'
                        imageUrl: jed-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 10
                        code: LAX
                        name: Los Angeles International Airport
                        city: Los Angeles
                        state: California
                        country: United States
                        timezone: America/Los_Angeles
                        latitude: '33.9416'
                        longitude: '-118.4085'
                        elevation: '38'
                        imageUrl: lax-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 6
                        code: DPS
                        name: Ngurah Rai International Airport
                        city: Denpasar
                        state: Bali
                        country: Indonesia
                        timezone: Asia/Makassar
                        latitude: '-8.7487'
                        longitude: '115.1670'
                        elevation: '4'
                        imageUrl: dps-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 7
                        code: SIN
                        name: Singapore Changi Airport
                        city: Singapore
                        state: Central Singapore
                        country: Singapore
                        timezone: Asia/Singapore
                        latitude: '1.3644'
                        longitude: '103.9915'
                        elevation: '22'
                        imageUrl: sin-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                        arrival:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                      - id: 4
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: DKI Jakarta
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.1255'
                        longitude: '106.6551'
                        elevation: '8'
                        imageUrl: cgk-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                        arrival:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                      - id: 11
                        code: SYD
                        name: Sydney Kingsford Smith Airport
                        city: Sydney
                        state: New South Wales
                        country: Australia
                        timezone: Australia/Sydney
                        latitude: '-33.9399'
                        longitude: '151.1753'
                        elevation: '6'
                        imageUrl: syd-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                success_with_pagination___filtering:
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 3
                        nextPage: 2
                        prevPage: null
                    data:
                      - id: 4
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: DKI Jakarta
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.1255'
                        longitude: '106.6551'
                        elevation: '8'
                        imageUrl: cgk-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                        arrival:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 6
                        code: DPS
                        name: Ngurah Rai International Airport
                        city: Denpasar
                        state: Bali
                        country: Indonesia
                        timezone: Asia/Makassar
                        latitude: '-8.7487'
                        longitude: '115.1670'
                        elevation: '4'
                        imageUrl: dps-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                success_with_pagination___sorting:
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 5
                        nextPage: 2
                        prevPage: null
                    data:
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                        departure: []
                        arrival: []
                      - id: 8
                        code: DOH
                        name: Hamad International Airport
                        city: Doha
                        state: Qatar
                        country: Qatar
                        timezone: Asia/Qatar
                        latitude: '25.2654'
                        longitude: '51.6066'
                        elevation: '5'
                        imageUrl: doh-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 9
                        code: JED
                        name: King Abdulaziz International Airport
                        city: Jeddah
                        state: Makkah
                        country: Saudi Arabia
                        timezone: Asia/Riyadh
                        latitude: '21.6820'
                        longitude: '39.1606'
                        elevation: '5'
                        imageUrl: jed-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 10
                        code: LAX
                        name: Los Angeles International Airport
                        city: Los Angeles
                        state: California
                        country: United States
                        timezone: America/Los_Angeles
                        latitude: '33.9416'
                        longitude: '-118.4085'
                        elevation: '38'
                        imageUrl: lax-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                success_with_filtering___sorting:
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination: null
                    data:
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                        departure: []
                        arrival: []
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 6
                        code: DPS
                        name: Ngurah Rai International Airport
                        city: Denpasar
                        state: Bali
                        country: Indonesia
                        timezone: Asia/Makassar
                        latitude: '-8.7487'
                        longitude: '115.1670'
                        elevation: '4'
                        imageUrl: dps-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                      - id: 4
                        code: CGK
                        name: Soekarno-Hatta International Airport
                        city: Jakarta
                        state: DKI Jakarta
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.1255'
                        longitude: '106.6551'
                        elevation: '8'
                        imageUrl: cgk-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 1
                            flightNumber: GA123
                            airlineId: 1
                            departureAirport: 4
                            arrivalAirport: 7
                            departureTime: '2024-07-15T08:00:00.000Z'
                            arrivalTime: '2024-07-15T11:00:00.000Z'
                            terminal: A
                            information: Direct flight from Jakarta to Singapore
                            price: 850
                            class: ECONOMY
                        arrival:
                          - id: 2
                            flightNumber: SQ456
                            airlineId: 2
                            departureAirport: 7
                            arrivalAirport: 4
                            departureTime: '2024-07-16T14:30:00.000Z'
                            arrivalTime: '2024-07-16T17:30:00.000Z'
                            terminal: C
                            information: Return flight from Singapore to Jakarta
                            price: 900
                            class: BUSINESS
                success_with_pagination__filtering___sorting:
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 3
                        nextPage: 2
                        prevPage: null
                    data:
                      - id: 3
                        code: HLP
                        name: Halim Perdanakusuma International Airport
                        city: DKI Jakarta
                        state: Asia Tengggara
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-6.264451'
                        longitude: '106.895859'
                        elevation: '25'
                        imageUrl: ''
                        imageId: ''
                        createdAt: '2024-11-26T03:28:57.895Z'
                        departure: []
                        arrival: []
                      - id: 5
                        code: SUB
                        name: Juanda International Airport
                        city: Surabaya
                        state: East Java
                        country: Indonesia
                        timezone: Asia/Jakarta
                        latitude: '-7.3797'
                        longitude: '112.7876'
                        elevation: '7'
                        imageUrl: sub-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure:
                          - id: 3
                            flightNumber: QR789
                            airlineId: 3
                            departureAirport: 5
                            arrivalAirport: 8
                            departureTime: '2024-07-17T22:00:00.000Z'
                            arrivalTime: '2024-07-18T01:30:00.000Z'
                            terminal: B
                            information: International flight from Surabaya to Doha
                            price: 1200
                            class: FIRST
                        arrival: []
                      - id: 6
                        code: DPS
                        name: Ngurah Rai International Airport
                        city: Denpasar
                        state: Bali
                        country: Indonesia
                        timezone: Asia/Makassar
                        latitude: '-8.7487'
                        longitude: '115.1670'
                        elevation: '4'
                        imageUrl: dps-airport.png
                        imageId: ''
                        createdAt: '2024-12-01T07:19:25.926Z'
                        departure: []
                        arrival: []
                success_empty:
                  value:
                    meta:
                      statusCode: 200
                      message: Airports data retrieved successfully
                      pagination: null
                    data: []
    post:
      tags:
        - Airports
      summary: create
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                meta:
                  statusCode: 200
                  message: Airport created successfully
                data:
                  airport:
                    id: 9
                    code: HLP
                    name: Halim Perdanakusuma International Airport
                    city: DKI Jakarta
                    state: Asia Tenggara
                    country: '1'
                    timezone: Asia/Jakarta
                    latitude: '1'
                    longitude: '1'
                    elevation: '1'
                    imageUrl: https://ik.imagekit.io/vieryn/airports/image-1733114851306_xJxBmViPM.jpeg
                    imageId: 674d3be7e375273f60c23a27
                    createdAt: '2024-12-02T04:47:37.509Z'
        '400':
          description: Response
          content:
            application/json:
              examples:
                file_too_large:
                  value:
                    error:
                      statusCode: 400
                      title: 'LIMIT_FILE_SIZE: MulterError'
                      message: MulterError - File too large
                      fields: image
                no_file_selected:
                  value:
                    error:
                      statusCode: 400
                      message: no file selected
        '401':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 401
                  message: unauthorized
        '403':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
        '409':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 409
                  message: Airport code already exists
        '422':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 422
                  message: '"image" is not allowed'
      parameters: []
      security:
        - bearerAuth: []
  /airlines:
    get:
      tags:
        - Airlines
      summary: Get All Airlines
      description: |-
        Endpoint untuk mengambil daftar semua maskapai penerbangan yang terdaftar dalam sistem. Endpoint ini akan mengembalikan data dalam bentuk array yang berisi objek maskapai, termasuk ID, nama, dan URL gambar untuk setiap maskapai.

        **Response yang Diharapkan**

        - Array berisi objek maskapai:
            
            - `id`: ID unik maskapai (integer).
                
            - `name`: Nama maskapai penerbangan (string).
                
            - `image_url`: URL gambar maskapai (string).
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: page number
          example: '3'
        - name: limit
          in: query
          schema:
            type: integer
          description: total item per page
          example: '1'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                success_-_pagination:
                  value:
                    meta:
                      statusCode: 200
                      message: Airlines fetched successfully
                      pagination:
                        totalPage: 8
                        currentPage: 3
                        pageItems: 1
                        nextPage: 4
                        prevPage: 2
                    data:
                      - id: 3
                        name: Qatar Airways
                        imageUrl: qatar-airways.png
                        imageId: qatar-logo
                success_-_without_pagination:
                  value:
                    meta:
                      statusCode: 200
                      message: Airlines fetched successfully
                      pagination: null
                    data:
                      - id: 1
                        name: Garuda Indonesia
                        imageUrl: garuda.png
                        imageId: garuda-logo
                      - id: 2
                        name: Singapore Airlines
                        imageUrl: singapore-airlines.png
                        imageId: sia-logo
                      - id: 3
                        name: Qatar Airways
                        imageUrl: qatar-airways.png
                        imageId: qatar-logo
                      - id: 4
                        name: Emirates
                        imageUrl: emirates.png
                        imageId: emirates-logo
                      - id: 5
                        name: Qantas
                        imageUrl: qantas.png
                        imageId: qantas-logo
                      - id: 6
                        name: Delta Airlines
                        imageUrl: delta.png
                        imageId: delta-logo
                      - id: 7
                        name: Lion Air
                        imageUrl: lion-air.png
                        imageId: lion-logo
                      - id: 8
                        name: AirAsia
                        imageUrl: airasia.png
                        imageId: airasia-logo
        '404':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 404
                  message: GET - /api/v1/airlines is not found!
    post:
      tags:
        - Airlines
      summary: Create Airline
      description: |-
        Endpoint untuk membuat data maskapai penerbangan baru. Anda harus mengirimkan nama maskapai dan gambar maskapai dalam format `form-data`. Gambar maskapai harus berupa file gambar (misalnya JPEG, PNG). Response akan mengembalikan data maskapai yang baru dibuat, termasuk ID maskapai dan URL gambar yang diunggah.

        **Parameter (Body Request)**:

        - `name` (required): Nama maskapai penerbangan (string).
            
        - `image` (required): Gambar maskapai dalam format file (form-data).
            

        **Response yang Diharapkan**:

        - `id`: ID unik maskapai yang baru dibuat (integer).
            
        - `name`: Nama maskapai penerbangan (string).
            
        - `image_url`: URL gambar maskapai yang baru diunggah (string).
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                meta:
                  statusCode: 201
                  message: Airline created successfully
                data:
                  id: 10
                  name: Garuda Airline
                  imageUrl: https://ik.imagekit.io/vieryn/airlines/image-1733027041812_rBNjDI47QW.jpg
                  imageId: 674be501e375273f60d0a937
        '400':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 400
                  message: no file selected
        '403':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
        '409':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 409
                  message: Airline name already exists
        '422':
          description: Response
          content:
            application/json:
              examples:
                invalid_field_value:
                  value:
                    error:
                      statusCode: 422
                      message: Airline name cannot contain only numbers.
                invalid_file_type:
                  value:
                    error:
                      statusCode: 422
                      message: Only images (jpeg, jpg, png) are allowed!
      parameters: []
      security:
        - bearerAuth: []
  /flights:
    get:
      tags:
        - Flights
      summary: get all
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: page number
          example: '100'
        - name: limit
          in: query
          schema:
            type: integer
          description: page items
          example: '10'
        - name: seatClass
          in: query
          schema:
            type: string
          description: seat class [BUSINESS, ECONOMY, FIRST]
          example: business
        - name: isCheapest
          in: query
          schema:
            type: boolean
          description: sort - string true or false
          example: 'true'
        - name: flightNumber
          in: query
          schema:
            type: string
          description: flight Number
          example: CH2
        - name: priceMin
          in: query
          schema:
            type: integer
          description: minimum price
          example: '3000'
        - name: priceMax
          in: query
          schema:
            type: integer
          description: maximum price
          example: '1000'
        - name: earliestDeparture
          in: query
          schema:
            type: boolean
          description: sort - string true or false
          example: 'true'
        - name: latestDeparture
          in: query
          schema:
            type: boolean
          description: sort - string true or false
          example: 'true'
        - name: earliestArrival
          in: query
          schema:
            type: boolean
          description: sort - string true or false
          example: 'true'
        - name: latestArrival
          in: query
          schema:
            type: boolean
          description: sort - string true or false
          example: 'true'
        - name: shortest
          in: query
          schema:
            type: boolean
          description: sort - string true or false
          example: 'true'
        - name: arrivalAirport
          in: query
          schema:
            type: integer
          description: filter - integer - airport ID
          example: '1'
        - name: departureAirport
          in: query
          schema:
            type: integer
          description: filter - integer - airport ID
          example: '2'
        - name: returnTime
          in: query
          schema:
            type: string
          description: flight departure time [ISO date]
          example: '2024-01-01T00:00:00Z'
        - name: departureTime
          in: query
          schema:
            type: string
          description: flight departure time [ISO date]
          example: '2026-01-01T00:00:00Z'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                success_-_without_pagination:
                  value:
                    meta:
                      statusCode: 200
                      message: flights data retrieved successfully
                      pagination: null
                    data:
                      - duration: 1d 0h 0m
                        id: 2
                        flightNumber: CH1
                        airlineId: 2
                        departureAirport: 1
                        arrivalAirport: 2
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        terminal: terminal 2A
                        information: free wifi-free inflight meals
                        price: 5000
                        class: BUSINESS
                        _count:
                          seat: 0
                          booking: 0
                          returnBooking: 0
                        airline:
                          id: 2
                          name: Batik Air
                          imageUrl: '-'
                          imageId: '-'
                        arrival:
                          id: 2
                          code: SBY1
                          name: Juanda International Airport
                          city: SURABAYA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                        departure:
                          id: 1
                          code: JKT1
                          name: Soekarno Hatta International Airport
                          city: JAKARTA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                      - duration: 32d 0h 0m
                        id: 5
                        flightNumber: AB1
                        airlineId: 2
                        departureAirport: 1
                        arrivalAirport: 2
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-02-02T00:00:00.000Z'
                        terminal: terminal 2A
                        information: free wifi-free inflight meals
                        price: 3000
                        class: ECONOMY
                        _count:
                          seat: 0
                          booking: 0
                          returnBooking: 0
                        airline:
                          id: 2
                          name: Batik Air
                          imageUrl: '-'
                          imageId: '-'
                        arrival:
                          id: 2
                          code: SBY1
                          name: Juanda International Airport
                          city: SURABAYA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                        departure:
                          id: 1
                          code: JKT1
                          name: Soekarno Hatta International Airport
                          city: JAKARTA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                      - duration: 61d 0h 0m
                        id: 4
                        flightNumber: CH2
                        airlineId: 2
                        departureAirport: 1
                        arrivalAirport: 2
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-03-02T00:00:00.000Z'
                        terminal: terminal 2A
                        information: free wifi-free inflight meals
                        price: 5000
                        class: BUSINESS
                        _count:
                          seat: 0
                          booking: 0
                          returnBooking: 0
                        airline:
                          id: 2
                          name: Batik Air
                          imageUrl: '-'
                          imageId: '-'
                        arrival:
                          id: 2
                          code: SBY1
                          name: Juanda International Airport
                          city: SURABAYA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                        departure:
                          id: 1
                          code: JKT1
                          name: Soekarno Hatta International Airport
                          city: JAKARTA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                      - duration: 92d 0h 0m
                        id: 6
                        flightNumber: FE
                        airlineId: 2
                        departureAirport: 1
                        arrivalAirport: 2
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-04-02T00:00:00.000Z'
                        terminal: terminal 2A
                        information: free wifi-free inflight meals
                        price: 8000
                        class: FIRST
                        _count:
                          seat: 0
                          booking: 0
                          returnBooking: 0
                        airline:
                          id: 2
                          name: Batik Air
                          imageUrl: '-'
                          imageId: '-'
                        arrival:
                          id: 2
                          code: SBY1
                          name: Juanda International Airport
                          city: SURABAYA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                        departure:
                          id: 1
                          code: JKT1
                          name: Soekarno Hatta International Airport
                          city: JAKARTA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                success_-_with_pagination:
                  value:
                    meta:
                      statusCode: 200
                      message: flights data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 2
                        nextPage: 2
                        prevPage: null
                    data:
                      - duration: 1d 0h 0m
                        id: 2
                        flightNumber: CH1
                        airlineId: 2
                        departureAirport: 1
                        arrivalAirport: 2
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        terminal: terminal 2A
                        information: free wifi-free inflight meals
                        price: 5000
                        class: BUSINESS
                        _count:
                          seat: 0
                          booking: 0
                          returnBooking: 0
                        airline:
                          id: 2
                          name: Batik Air
                          imageUrl: '-'
                          imageId: '-'
                        arrival:
                          id: 2
                          code: SBY1
                          name: Juanda International Airport
                          city: SURABAYA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                        departure:
                          id: 1
                          code: JKT1
                          name: Soekarno Hatta International Airport
                          city: JAKARTA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                      - duration: 61d 0h 0m
                        id: 4
                        flightNumber: CH2
                        airlineId: 2
                        departureAirport: 1
                        arrivalAirport: 2
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-03-02T00:00:00.000Z'
                        terminal: terminal 2A
                        information: free wifi-free inflight meals
                        price: 5000
                        class: BUSINESS
                        _count:
                          seat: 0
                          booking: 0
                          returnBooking: 0
                        airline:
                          id: 2
                          name: Batik Air
                          imageUrl: '-'
                          imageId: '-'
                        arrival:
                          id: 2
                          code: SBY1
                          name: Juanda International Airport
                          city: SURABAYA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                        departure:
                          id: 1
                          code: JKT1
                          name: Soekarno Hatta International Airport
                          city: JAKARTA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                success_-_filtering:
                  value:
                    meta:
                      statusCode: 200
                      message: flights data retrieved successfully
                      pagination:
                        totalPage: 2
                        currentPage: 1
                        pageItems: 2
                        nextPage: 2
                        prevPage: null
                    data:
                      - duration: 1d 0h 0m
                        id: 2
                        flightNumber: CH1
                        airlineId: 2
                        departureAirport: 1
                        arrivalAirport: 2
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        terminal: terminal 2A
                        information: free wifi-free inflight meals
                        price: 5000
                        class: BUSINESS
                        _count:
                          seat: 0
                          booking: 0
                          returnBooking: 0
                        airline:
                          id: 2
                          name: Batik Air
                          imageUrl: '-'
                          imageId: '-'
                        arrival:
                          id: 2
                          code: SBY1
                          name: Juanda International Airport
                          city: SURABAYA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                        departure:
                          id: 1
                          code: JKT1
                          name: Soekarno Hatta International Airport
                          city: JAKARTA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                      - duration: 32d 0h 0m
                        id: 5
                        flightNumber: AB1
                        airlineId: 2
                        departureAirport: 1
                        arrivalAirport: 2
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-02-02T00:00:00.000Z'
                        terminal: terminal 2A
                        information: free wifi-free inflight meals
                        price: 3000
                        class: ECONOMY
                        _count:
                          seat: 0
                          booking: 0
                          returnBooking: 0
                        airline:
                          id: 2
                          name: Batik Air
                          imageUrl: '-'
                          imageId: '-'
                        arrival:
                          id: 2
                          code: SBY1
                          name: Juanda International Airport
                          city: SURABAYA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                        departure:
                          id: 1
                          code: JKT1
                          name: Soekarno Hatta International Airport
                          city: JAKARTA
                          state: INDONESIA
                          country: INDONESIA
                          timezone: GMT+7
                          latitude: '1'
                          longitude: '1'
                          elevation: '1'
                          imageUrl: '-'
                          imageId: '-'
                          createdAt: '1970-01-01T00:00:00.000Z'
                success_-_empty_data:
                  value:
                    meta:
                      statusCode: 200
                      message: flights data retrieved successfully
                      pagination:
                        totalPage: 0
                        currentPage: 100
                        pageItems: 0
                        nextPage: null
                        prevPage: 99
                    data: []
        '422':
          description: Response
          content:
            application/json:
              examples:
                invalid_seatClass_params:
                  value:
                    error:
                      statusCode: 422
                      message: 'Invalid seat class. Available classes: ECONOMY, FIRST, BUSINESS'
                invalid_query_params_departure_or_arrival_airport:
                  value:
                    error:
                      statusCode: 422
                      message: invalid value for departure airport or arrival airport
    post:
      tags:
        - Flights
      summary: create
      description: |-
        ``` json
        {
            "flightNumber": "FE",
            "airlineId": "1000",
            "departureAirport": "1",
            "arrivalAirport": "1",
            "departureTime": "2024-01-01T00:00:00.000Z",
            "arrivalTime": "2024-01-02T00:00:00.000Z",
            "terminal": "terminal 2A",
            "price": 8000,
            "class": "FIRST",
            "information":"free wifi-free inflight meals" // using - separator
        }
         ```
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                flightNumber: FE
                airlineId: '1000'
                departureAirport: '1'
                arrivalAirport: '1'
                departureTime: '2024-01-01T00:00:00.000Z'
                arrivalTime: '2024-01-02T00:00:00.000Z'
                terminal: terminal 2A
                price: 8000
                class: FIRST
                information: free wifi-free inflight meals
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                meta:
                  statusCode: 200
                  message: flight created successfully
                data:
                  flight:
                    id: 1
                    flightNumber: CH1
                    airlineId: 2
                    departureAirport: 1
                    arrivalAirport: 2
                    departureTime: '2024-01-01T00:00:00.000Z'
                    arrivalTime: '2024-01-02T00:00:00.000Z'
                    terminal: terminal 2A
                    information: free wifi-free inflight meals
                    price: 5000
                    class: BUSINESS
        '403':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
        '404':
          description: Response
          content:
            application/json:
              examples:
                arrival_airport_is_not_found:
                  value:
                    error:
                      statusCode: 404
                      message: arrival airport is not found
                departure_airport_is_not_found:
                  value:
                    error:
                      statusCode: 404
                      message: departure airport is not found
                airline_not_found:
                  value:
                    error:
                      statusCode: 404
                      message: airline is not found
        '409':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 409
                  message: Flight number is already used by another flight
        '422':
          description: Response
          content:
            application/json:
              examples:
                invalid_arrival_airport:
                  value:
                    error:
                      statusCode: 422
                      message: Arrival airport must be different from departure airport.
                invalid_arrival_time:
                  value:
                    error:
                      statusCode: 422
                      message: Arrival time must be after departure time.
                invalid_input:
                  value:
                    error:
                      statusCode: 422
                      message: '"airlineId" must be a number'
      parameters: []
      security:
        - bearerAuth: []
  /seats:
    get:
      tags:
        - Seats
      summary: get all
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: page number
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
          description: page items
          example: '5'
        - name: seatClass
          in: query
          schema:
            type: string
          description: seat class [ECONOMY, BUSINESS, FIRST]
          example: BUSINESS
        - name: flightId
          in: query
          schema:
            type: integer
          description: flight ID
          example: '1'
        - name: departureTime
          in: query
          schema:
            type: string
          description: flight departure time [ISO date]
          example: '2024-01-01T00:00:00Z'
        - name: arrivalTime
          in: query
          schema:
            type: string
          description: flight arrival Time [ISO date]
          example: '2024-01-01T00:00:00Z'
        - name: seatStatus
          in: query
          schema:
            type: string
          description: seat status [AVAILABLE, LOCKED, UNAVAILABLE]
          example: LOCKED
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                success:
                  value:
                    meta:
                      statusCode: 200
                      message: seats data retrieved successfully
                      pagination:
                        totalPage: 1
                        currentPage: 1
                        pageItems: 3
                        nextPage: null
                        prevPage: null
                    data:
                      - id: 1
                        flightId: 1
                        seatNumber: B3
                        status: LOCKED
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        _count:
                          bookingDetail: 0
                        flight:
                          id: 1
                          flightNumber: GA123
                          airlineId: 1
                          departureAirport: 1
                          arrivalAirport: 4
                          departureTime: '2024-07-15T08:00:00.000Z'
                          arrivalTime: '2024-07-15T11:00:00.000Z'
                          terminal: A
                          information: Direct flight from Jakarta to Singapore
                          price: 850
                          class: ECONOMY
                      - id: 2
                        flightId: 1
                        seatNumber: A1
                        status: UNAVAILABLE
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        _count:
                          bookingDetail: 0
                        flight:
                          id: 1
                          flightNumber: GA123
                          airlineId: 1
                          departureAirport: 1
                          arrivalAirport: 4
                          departureTime: '2024-07-15T08:00:00.000Z'
                          arrivalTime: '2024-07-15T11:00:00.000Z'
                          terminal: A
                          information: Direct flight from Jakarta to Singapore
                          price: 850
                          class: ECONOMY
                      - id: 3
                        flightId: 1
                        seatNumber: A2
                        status: UNAVAILABLE
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        _count:
                          bookingDetail: 0
                        flight:
                          id: 1
                          flightNumber: GA123
                          airlineId: 1
                          departureAirport: 1
                          arrivalAirport: 4
                          departureTime: '2024-07-15T08:00:00.000Z'
                          arrivalTime: '2024-07-15T11:00:00.000Z'
                          terminal: A
                          information: Direct flight from Jakarta to Singapore
                          price: 850
                          class: ECONOMY
                success_-_empty:
                  value:
                    meta:
                      statusCode: 200
                      message: users data retrieved successfully
                      pagination:
                        totalPage: 0
                        currentPage: 1
                        pageItems: 0
                        nextPage: null
                        prevPage: null
                    data: []
                success_-_filtering:
                  value:
                    meta:
                      statusCode: 200
                      message: seats data retrieved successfully
                      pagination:
                        totalPage: 1
                        currentPage: 1
                        pageItems: 3
                        nextPage: null
                        prevPage: null
                    data:
                      - id: 1
                        flightId: 1
                        seatNumber: B3
                        status: LOCKED
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        _count:
                          bookingDetail: 0
                        flight:
                          id: 1
                          flightNumber: GA123
                          airlineId: 1
                          departureAirport: 1
                          arrivalAirport: 4
                          departureTime: '2024-07-15T08:00:00.000Z'
                          arrivalTime: '2024-07-15T11:00:00.000Z'
                          terminal: A
                          information: Direct flight from Jakarta to Singapore
                          price: 850
                          class: ECONOMY
                      - id: 2
                        flightId: 1
                        seatNumber: A1
                        status: UNAVAILABLE
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        _count:
                          bookingDetail: 0
                        flight:
                          id: 1
                          flightNumber: GA123
                          airlineId: 1
                          departureAirport: 1
                          arrivalAirport: 4
                          departureTime: '2024-07-15T08:00:00.000Z'
                          arrivalTime: '2024-07-15T11:00:00.000Z'
                          terminal: A
                          information: Direct flight from Jakarta to Singapore
                          price: 850
                          class: ECONOMY
                      - id: 3
                        flightId: 1
                        seatNumber: A2
                        status: UNAVAILABLE
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        _count:
                          bookingDetail: 0
                        flight:
                          id: 1
                          flightNumber: GA123
                          airlineId: 1
                          departureAirport: 1
                          arrivalAirport: 4
                          departureTime: '2024-07-15T08:00:00.000Z'
                          arrivalTime: '2024-07-15T11:00:00.000Z'
                          terminal: A
                          information: Direct flight from Jakarta to Singapore
                          price: 850
                          class: ECONOMY
                success_-_without_pagination:
                  value:
                    meta:
                      statusCode: 200
                      message: seats data retrieved successfully
                      pagination: null
                    data:
                      - id: 2
                        flightId: 1
                        seatNumber: A1
                        status: UNAVAILABLE
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        _count:
                          bookingDetail: 0
                        flight:
                          id: 1
                          flightNumber: GA123
                          airlineId: 1
                          departureAirport: 1
                          arrivalAirport: 4
                          departureTime: '2024-07-15T08:00:00.000Z'
                          arrivalTime: '2024-07-15T11:00:00.000Z'
                          terminal: A
                          information: Direct flight from Jakarta to Singapore
                          price: 850
                          class: ECONOMY
                      - id: 1
                        flightId: 1
                        seatNumber: B3
                        status: LOCKED
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        _count:
                          bookingDetail: 0
                        flight:
                          id: 1
                          flightNumber: GA123
                          airlineId: 1
                          departureAirport: 1
                          arrivalAirport: 4
                          departureTime: '2024-07-15T08:00:00.000Z'
                          arrivalTime: '2024-07-15T11:00:00.000Z'
                          terminal: A
                          information: Direct flight from Jakarta to Singapore
                          price: 850
                          class: ECONOMY
                      - id: 3
                        flightId: 1
                        seatNumber: A2
                        status: UNAVAILABLE
                        departureTime: '2024-01-01T00:00:00.000Z'
                        arrivalTime: '2024-01-02T00:00:00.000Z'
                        _count:
                          bookingDetail: 0
                        flight:
                          id: 1
                          flightNumber: GA123
                          airlineId: 1
                          departureAirport: 1
                          arrivalAirport: 4
                          departureTime: '2024-07-15T08:00:00.000Z'
                          arrivalTime: '2024-07-15T11:00:00.000Z'
                          terminal: A
                          information: Direct flight from Jakarta to Singapore
                          price: 850
                          class: ECONOMY
      security:
        - bearerAuth: []
    post:
      tags:
        - Seats
      summary: create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                flightId: 1
                seatNumber: A3
                status: UNAVAILABLE
                departureTime: '2024-01-01T00:00:00.000Z'
                arrivalTime: '2024-01-02T00:00:00.000Z'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                meta:
                  statusCode: 200
                  message: seat created successfully
                data:
                  seat:
                    id: 1
                    flightId: 1
                    seatNumber: B3
                    status: UNAVAILABLE
                    departureTime: '2024-01-01T00:00:00.000Z'
                    arrivalTime: '2024-01-02T00:00:00.000Z'
        '403':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 403
                  message: forbidden, Go Back ! >:(
        '404':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 404
                  message: flight id is not found
        '409':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 409
                  message: Seat number has already been used in the same flight
        '422':
          description: Response
          content:
            application/json:
              example:
                error:
                  statusCode: 422
                  message: '"class" must be one of [ECONOMY, FIRST, BUSINESS]'
      parameters: []
      security:
        - bearerAuth: []
  /booking:
    get:
      tags:
        - Booking
      summary: find
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNzMzNDg3NDY5LCJleHAiOjE3MzM1NzM4Njl9._2hrgP6uvCJx7nyARkGqVd1K_CmxMFucmyAT6F0OwgY
        - name: page
          in: query
          schema:
            type: integer
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
          example: '2'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                filter:
                  value:
                    meta:
                      status: 200
                      message: success
                      pagination:
                        totalPage: 1
                        currentPage: 1
                        pageItems: 1
                        nextPage: null
                        prevPage: null
                    data:
                      - id: 16
                        bookingCode: 2411026A6E
                        userId: 1
                        flightId: 3
                        returnFlightId: 1
                        bookingDate: '2024-12-03T13:37:05.394Z'
                        totalPrice: 400000
                        status: ACTIVE
                        createdAt: '2024-12-03T13:37:05.424Z'
                        updateAt: '2024-12-03T13:37:05.424Z'
                        flight:
                          id: 3
                          flightNumber: LA789
                          airlineId: 3
[...]
